@{
    Layout = "_Layout";
}

@using HairSalon.Models

<h1>List of Customer</h1>

@if (@Model.Count == 0)
{
    <h3>No customers have been added yet!</h3>
}
else
{
    <ul class="info-container">
    @foreach (Customer customer in Model)
    {
        <li>@Html.ActionLink($"{customer.Name}", "Details", new { id = customer.CustomerId})</li>
        <hr />
    }
    </ul>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add New Customer", "Create")</p>